
<div class="container">
  <h2 class='text-center mb-4'>Vista de productos</h2>	
    <table class="table table-dark" id="lista">
      <thead>
        <tr>
          <td>Nombre</td>
          <td>Precio</td>
          <td>Foto</td>
        </tr> 
      </thead>
      <tbody id="tbodyID">
        <tr style="display: none;">
          <td class="text-center align-middle" >Nombre</td>
          <td class="text-center align-middle">Precio</td>
          <td class="text-center align-middle">Foto</td>
        </tr>      
      </tbody>
    </table>   
</div>